/*Custom Font*/

@font-face {
  font-family: 'Centra';
  src: url('../assets/font/CentraNo2-Bold.ttf') ;
  font-weight: 700;
}
@font-face {
  font-family: 'Centra';
  src: url('../assets/font/CentraNo2-Book.ttf') ;
  font-weight: 400;
}
@font-face {
  font-family: 'Centra';
  src: url('../assets/font/CentraNo2-Medium.ttf') ;
  font-weight: 500;
}
:root {
  --primary-color: #0000ff; /* Blue */
  --secondary-color: #000080; /* Dark blue */
  --tertiary-color: #000000; /* Black */
  --highlight-color: rgba(18, 247, 255, 0.6); /* Cyan glow */
  --nav-bg-color: #121212; /* Navbar background */
  --button-bg-color: #333; /* Button background */
  --gradient-start: #0000ff; /* Gradient start */
  --gradient-mid: #0000cc; /* Gradient middle */
  --gradient-end: #000080; /* Gradient end */
  --intro-sub-bg: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  --intro-sub-border: rgba(255, 255, 255, 0.5); /* Intro sub border */
  --intro-job-color: #12f7ff; /* Job title color */
  --text-color: #fff; /* White text */
  --danger-color: red; /* Danger color */
  --success-color: green; /* Success color */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 75px;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: var(--text-color);
}
#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(circle, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%);
  z-index: -100;

}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
  text-shadow: 
  0 0 10px var(--highlight-color),
  0 0 20px var(--highlight-color),
  0 0 30px var(--highlight-color),
  0 0 40px var(--highlight-color),
  0 0 70px var(--highlight-color),
  0 0 80px var(--highlight-color),
  0 0 100px var(--highlight-color),
  0 0 150px var(--highlight-color);

}

img {
  width: 100%;
  height: auto;
}
.img-logo {
  width: 100px;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: var(--success-color);
}

p.danger {
	color: var(--danger-color);
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: background-color 0.5s ease, padding 0.5s ease;
  backdrop-filter: blur(0px); 
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: rgba(18, 18, 18, 0.5); 
  backdrop-filter: blur(8px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--text-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    text-shadow: 
  0 0 10px var(--highlight-color),
  0 0 20px var(--highlight-color),
  0 0 30px var(--highlight-color),
  0 0 40px var(--highlight-color),
  0 0 70px var(--highlight-color),
  0 0 80px var(--highlight-color),
  0 0 100px var(--highlight-color),
  0 0 150px var(--highlight-color);
    color: var(--intro-job-color) !important;

}
span.navbar-btn {
    display: flex;
    align-items: center;
}

.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: .2rem solid var(--text-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 3rem 1.5rem 3rem 0;
  text-decoration: none; 
  transition: .5s ease;
    }

.social-media a:hover {
    background-color: transparent;
    color: var(--intro-job-color); 
    border: .2rem solid var(--intro-job-color);
    box-shadow: 
      0 0 10px var(--highlight-color),
      0 0 20px var(--highlight-color),
      0 0 30px var(--highlight-color),
      0 0 40px var(--highlight-color),
      0 0 70px var(--highlight-color),
      0 0 80px var(--highlight-color),
      0 0 100px var(--highlight-color),
      0 0 150px var(--highlight-color);

}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-btn {
  position: relative; 
  padding: 15px 40px; 
  color: var(--text-color); 
  background: transparent;
  border: none; 
  font-size: 1rem; 
  cursor: pointer;
  border-radius: 12px;
  z-index: 0;
}

.navbar-btn span {
  z-index: 1; 
  position: relative;
}

.navbar-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--button-bg-color); 
  left: 0;
  top: 0;
  z-index: -2; 
  border-radius: 10px;
}

.navbar-btn::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, 
    var(--gradient-start),
    var(--gradient-mid), 
    var(--gradient-end)  
  ); 

  left: -4px; 
  top: -4px; 
  background-size: 300%; /* Adjusted for smoother gradient transition */
  z-index: -1; 
  width: calc(100% + 8px); 
  height: calc(100% + 8px); 
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px; 
  opacity: 0; 
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}



.navbar-btn:hover::before {
  opacity: 1; 
  box-shadow: 0 0 10px var(--highlight-color),
  0 0 20px var(--highlight-color),
  0 0 30px var(--highlight-color),
  0 0 40px var(--highlight-color);
}

.navbar-btn:active::after {
  background-color: transparent; 
}

.navbar-btn:active {
  color: #000;
  font-weight: bold;
}



nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--text-color);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--text-color);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--text-color);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: var(--text-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--text-color);
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Intro Css ************/
.intro {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro .intro-sub {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  color: var(--text-color);
  border: 1px solid var(--intro-sub-border);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.intro h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.intro p {
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.intro button {
  color: var(--text-color);
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.intro button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.intro button:hover svg {
  margin-left: 25px;
}
.intro img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.intro-job span {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--intro-job-color);
  margin-top: 20px;
}
.intro-desc {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 0.8px;
  margin-top: 20px;
}
.profile-img {
  width: 50vw; 
  height: 50vw; 
  max-width: 400px; 
  max-height: 400px; 
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--p2color), var(--p1color));
  padding: 5px; 
  margin: 0 auto; 
  -webkit-box-shadow: -1px 18px 13.5px -1px #dddddd;
  -moz-box-shadow: -1px 18px 13.5px -1px #dddddd;
  box-shadow: -1px 18px 13.5px -1px #dddddd;
  margin-bottom: 2rem;
  animation: moveUpAndDown 3s infinite;
}

/************ Skills Css ************/
.skills {
  padding: 0 0 50px 0;
  position: relative;
}
.skills-bx {
  background-color: rgba(18, 18, 18, 0.5); 
  backdrop-filter: blur(8px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);   border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skills h2 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--text-color);
  margin-bottom: 20px;
  
}
.skills p {
  font-size: 18px;
  font-weight: 400;
  color: #888888;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  margin: 14px 0 75px 0;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;

}

.skill-slider .item img {
  width: 250px; 
  height: 200px; 
  object-fit: cover; 
  margin: 0 auto 15px auto;
  display: block; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.skill-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--text-color);
  margin-bottom: 20px;
  cursor: pointer;
}

.skill-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative; /* Add this to enable absolute positioning for children */
}

.skill-desc img {
  border-radius: 8px;
  width: 250px;
  height: 200px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-desc h3 {
  color: var(--intro-job-color);
  margin: 0 0 10px 0;
  font-size: 24px;
}

.skill-desc p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

.skill-desc:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.skill-desc .back-button {
  cursor: pointer;
  color: var(--intro-job-color);
  transition: color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Adjust size as needed */
}

.skill-desc .back-button:hover {
  color: var(--primary-color);
}





